* {
    background-color: gray;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: ;
}
.trafficlight {
    background-color: white;
    display: flex;
    flex-direction: column;
}
.box1 {
    background-color: red;
    display: flex;
    align-items: end;
    width: 180px;
    height: 180px;
    border: solid 10px darkred;
    margin: 10px;
}
.box2 {
    background-color: yellow;
    display: flex;
    align-items: end;
    justify-content: end;
    width: 180px;
    height: 180px;
    border: solid 10px rgb(227, 153, 6);
    margin: 0 10px;
}
.box3 {
    background-color: green;
    display: flex;
    align-items: end;
    width: 180px;
    height: 180px;
    border: solid 10px darkgreen;
    margin: 10px;
}
.small_redbox {
    background-color: lightcoral;
    width: 100%;
    height: 50%;
}
.small_yellowbox {
    background-color: lightgoldenrodyellow;
    width: 50%;
    height: 50%;
}
.small_greenbox {
    background-color: lightgreen;
    width: 50%;
    height: 50%;
}