* {
    background-color: gray;
}

.flex-box {
background-color: white;
color: white;
display: flex;
flex-direction: column;
height: 600px;
width: 200px;
align-items: center;
justify-content: space-evenly;
}

.content {
background-color: red;
box-sizing: border-box;
width: 180px;
height: 180px;
border: 12px solid darkred;
}

.content2 {
background-color: yellow;
box-sizing: border-box;
width: 180px;
height: 180px;
border: 12px solid rgb(227, 153, 6);
}

.content3 {
background-color: green;
box-sizing: border-box;
width: 180px;
height: 180px;
border: 12px solid darkgreen;
}